.topnav {
  font-size: 25px;
  overflow: hidden;
  background-color: gray;
}

.topnav a {
  float: left;
  color: black;
  display: block;
  text-align: center;
  padding: 10px 20px;
}
.topnav a:hover {
    color: turquoise;
    cursor: pointer;
}
.sidenav {
  width: 180px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  background-color: #111;
  top: 0;
  left: 0;
  padding-top: 20px;
  padding-bottom: 25px;
  margin-top: 73px;
}
.sidenav a {
  padding: 6px 6px 6px 30px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: white;
  cursor: pointer;
}
.content {
    margin-left: 180px;
    padding: px;
}
.cloth {
    text-align: center;
    font-weight: bold;
    background-color: lightgray;
    text-decoration: underline;
    padding-bottom: 10px;
}
.col-md-3 {
    display: flex;
    width: 25%;
    min-width: 200px;
    /* margin: auto; */
}
.col-md-3 img  {
    width: 100%;
}
.tops {
    margin: 30px 0px;
    padding-right: 25px;
    padding-left: 25px;
}
#polo {
    padding-bottom: 82px;
}
#menshirt {
    padding-bottom: 82px;
}
h3 {
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}
#bodycon {
  padding-bottom: 79px;
}
#sumdress {
  padding-bottom: 142px;
}
#sridress {
  padding-bottom: 90px;
}
.dresses {
  margin: 30px 0px;
    padding-right: 25px;
    padding-left: 25px;
}
.pants {
  margin: 30px 0px;
    padding-right: 25px;
    padding-left: 25px;
}
#cordroy {
  padding-bottom: 22px;
}
#khaki {
  padding-bottom: 40px;
}
